{% extends "base.html" %}
{% load static %}
{% block nav_button %}
<a href="{% url 'info' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Info</a>
{% endblock %}
{% block title %}Zoek het Woord{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Kies een categorie</h1>-
    <form method="get" class="flex items-center gap-2">
        <label for="order" class="text-lg">Sorteer:</label>
        <select name="order" id="order" class="border rounded px-2 py-1" onchange="this.form.submit()">
            <option value="alphabetical" {% if order == "alphabetical" %}selected{% endif %}>Alfabetisch</option>
            <option value="last_used" {% if order == "last_used" %}selected{% endif %}>Laatst gebruikt</option>
        </select>
    </form>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for category in categories %}
    <a href="{% url 'category_detail' category.pk %}"
        class="item-card flex flex-col bg-white rounded-xl shadow hover:scale-105 transition transform duration-200">
        {% if category.image %}
        <div class="w-full h-48 bg-center bg-contain bg-no-repeat"
            style="background-image: url('{{ category.image.url }}');"></div>
        {% else %}
        <img src="{% static 'images/default.jpg' %}" alt="Default Image" class="w-full h-48 object-cover">
        {% endif %}
        <div class="text-center text-xl font-bold py-3">{{ category.name }}</div>
    </a>
    {% endfor %}
</div>
{% endblock %}