{% extends "base.html" %}
{% load static %}
{% block nav_button %}
<a href="{% url 'category_detail' subcategory.category.pk %}"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Terug</a>
{% endblock %}
{% block title %}Zoek het Woord - {{ subcategory.name }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'category_detail' subcategory.category.pk %}">
        <span>&gt;</span> {{ subcategory.category.name }}
    </a>
    <a href="{% url 'subcategory_detail' subcategory.pk %}">
        <span>&gt;</span> {{ subcategory.name }}
    </a>
</div>
{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">{{ subcategory.name }} <button
            onclick="handleSpeakClick(event, '{{ subcategory.name|escapejs }}')"
            class="bg-gray-50 bg-opacity-50 text-blue-600 p-2 shadow hover:bg-opacity-80"
            aria-label="Luister naar uitspraak">
            <i class="fas fa-volume-up"></i>
        </button></h1>

    <form method="get" class="flex items-center gap-2">
        <label for="order" class="text-lg">Sorteer:</label>
        <select name="order" id="order" class="border rounded px-2 py-1" onchange="this.form.submit()">
            <option value="alphabetical" {% if order == 'alphabetical' %}selected{% endif %}>Alfabetisch</option>
            <option value="last_used" {% if order == 'last_used' %}selected{% endif %}>Laatst gebruikt</option>
        </select>
    </form>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for word in words %}
    <a href="{% url 'word_detail' word.pk %}"
        class="item-cardflex flex-col bg-white rounded-xl shadow hover:scale-105 transition transform duration-200">
        {% if word.image %}
        <div class="relative h-48 bg-center bg-cover bg-no-repeat"
            style="background-image: url('{{ word.image.url }}');"><button
                onclick="handleSpeakClick(event, '{{ word.name|escapejs }}')"
                class="speaker-button"
                aria-label="Luister naar uitspraak">
                <i class="fas fa-volume-up"></i>
            </button></div>
        {% else %}
        <div class="relative h-48 bg-center bg-cover bg-no-repeat"><img src="{% static 'images/default.jpg' %}" alt="Default"><button
                onclick="handleSpeakClick(event, '{{ word.name|escapejs }}')"
                class="speaker-button"
                aria-label="Luister naar uitspraak">
                <i class="fas fa-volume-up"></i>
            </button></div>
        {% endif %}
        <div class="text-center text-xl font-bold py-3">{{ word.name }}</div>
    </a>
    {% endfor %}
</div>
{% endblock %}