{% extends "base.html" %}
{% load static %}
{% block meta_description %}
Leer hoe je het woord "{{ word.name }}" correct uitspreekt in het Nederlands, met hulp voor mensen met PPA-SV.
{% endblock %}
{% block og_title %}{{ word.name }} - Uitspraak{% endblock %}
{% block og_desc %}Hoor de Nederlandse uitspraak van het woord {{ word.name }}{% endblock %}
{% block og_image %}
  {% if word.image %}
    {{ word.image.url }}
  {% else %}
    {% static "images/default.jpg" %}
  {% endif %}
{% endblock %}
{% block nav_button %}
{% if word.subcategory %}
<a href="{% url 'subcategory_detail' word.subcategory.pk %}"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Terug</a>
    {% else %}
<a href="{% url 'category_detail' word.category.pk %}"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Terug</a>
    {% endif %}
{% endblock %}
{% block title %}Zoek het Woord - {{ word.name }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    {% if word.category %}
    <a href="{% url 'category_detail' word.category.pk %}">
        <span>&gt;</span> {{ word.category.name }}
    </a>
    {% endif %}
    {% if word.subcategory %}
    <a href="{% url 'category_detail' word.subcategory.category.pk %}">
        <span>&gt;</span> {{ word.subcategory.category.name }}
    </a>
    <a href="{% url 'subcategory_detail' word.subcategory.pk %}">
        <span>&gt;</span> {{ word.subcategory.name }}
    </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4 text-center">{{ word.name }} <button
            onclick="handleSpeakClick(event, '{{ word.name|escapejs }}')"
            class="bg-gray-50 bg-opacity-50 text-blue-600 p-2 shadow hover:bg-opacity-80"
            aria-label="Luister naar uitspraak">
            <i class="fas fa-volume-up"></i>
        </button></h1>
{% if word.image %}
<img src="{{ word.image.url }}" alt="{{ word.name }}" style="max-height: 66vh;" class="mb-4 rounded shadow mx-auto">
{% else %}
<img src="{% static 'images/default.jpg' %}" alt="Default" style="max-height: 66vh;" class="mb-4 rounded shadow mx-auto">
{% endif %}
<p class="text-lg leading-relaxed max-w-2xl mx-auto" style="font-family: Verdana, Arial, sans-serif;">{{word.description}}<button
            onclick="handleSpeakClick(event, '{{ word.description|escapejs }}')"
            class="bg-gray-50 bg-opacity-50 text-blue-600 p-2 shadow hover:bg-opacity-80"
            aria-label="Luister naar uitspraak">
            <i class="fas fa-volume-up"></i>
        </button></p>
{% endblock %}